.calculator{
    text-align: center;
}

.calculator button{
    margin: 10px 5px;
    background: none;
    border-radius:5px;
    background-color: rgb(252, 252, 252);
    width: 70px;
    height: 60px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.calculator input{
    width: 15%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.calculator button:hover{
    background-color: rgb(233, 233, 233);
    scale:1.1;
}
